<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385934678597-0gevf7ct5prk6inmo4lfj2a38ucasq88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385934678597-0gevf7ct5prk6inmo4lfj2a38ucasq88</string>
	<key>API_KEY</key>
	<string>AIzaSyBo7V2Uxorbx74fTxjUcALfgnCCbA6cUKY</string>
	<key>GCM_SENDER_ID</key>
	<string>385934678597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SignatureMaids.com</string>
	<key>PROJECT_ID</key>
	<string>signaturemaids-5ffd3</string>
	<key>STORAGE_BUCKET</key>
	<string>signaturemaids-5ffd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385934678597:ios:feaefabde35b53ac4e612c</string>
</dict>
</plist>